<% @recipes.each do |recipe| %>
<h1><%= recipe.name %></h1>
<p>Ingredients: <%= recipe.ingredients %></p>
<p>Cook Time: <%= recipe.cook_time %></p>
<p>Go to <a href="/recipes/<%=recipe.id%>">recipe</a></p>
<% end %>
