
<h1>Create Recipe Here!</h1>

<form class="" action="/recipes" method="post">
<input type="text" name="name" value="" placeholder="name">
<input type="text" name="ingredients" value="" placeholder="ingredients">
<input type="text" name="cook_time" value="" placeholder="cook_time">
<input type="submit" name="" value="submit">
</form>
