<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new</title>
  </head>
  <body>
    <form action="/recipes" method="post">
  <ul>
  <h1>New Recipe</h1>
  <p><li><label for="name">Recipe Name:</label></li>
  <input id="name" type="text" name="name">
  </p>
  <p><li><label for="ingredients">Ingredients:</label></li>
  <input id="ingredients" type="text" name="ingredients">
  </p>
  <p><li><label for="cook_time">Total Cooking Time:</label></li>
  <input id="cook_time" type="text" name="cook_time">
  </p>
  </ul>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
